<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">

    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 引入外部文件-->

    <environments default="development">
        <environment id="development">

            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 每个 Mapper.xml 都需要 在 Mybatis 核心配置文件中注册-->
    <mappers>
        <mapper resource="com/yang/dao/UserMapper.xml"/>
    </mappers>
</configuration>